{# templates/student/view_submissions.html.twig #}

{% extends 'base1.html.twig' %}

{% block title %}My Submissions{% endblock %}
{% block header %}
	<header id="header" class="header fixed-top">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
			<a href="{{ path('app_program')}}" class="logo d-flex align-items-center">
				<img src="{{ asset('asset1/img/Logo_ESPRIT_Ariana.jpg') }}" >
			</a>
				<nav id="navbar" class="navbar">
				<ul>
					<li class="nav-item dropdown">
							<a class="nav-link nav-icon show" href="#" data-bs-toggle="dropdown" aria-expanded="true">
								<i class="bi bi-bell"></i>
								<span class="badge bg-primary badge-number">{{ notifications|length }}</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-25px, 35px);" data-popper-placement="bottom-end">
								<li class="dropdown-header">
									{% if notifications|length > 0 %}
										You have
										{{ notifications|length }}
										new notification{{ notifications|length > 1 ? 's' : '' }}
									{% else %}
										No new notifications
									{% endif %}
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								{% for notification in notifications %}
									<li class="notification-item" style="margin-left: 10px;">
											<i class="bi bi-info-circle text-primary"></i>
											<a href="{{ path('view_notification', {'id': notification.id}) }}">
												<span class="badge rounded-pill bg-primary p-2 ms-2">View</span>
       										</a>
										<div>
											<p>{{ notification.message }}</p>
											<p>{{ notification.createdAt|date('d M Y, H:i') }}</p>
										</div>
									</li>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
							{% endfor %}
						</li>
					</li>
					<li class="dropdown-footer">
						<a href="">Show all notifications</a>
					</li>
				</ul>
		</li>
		<li>
			<a class="nav-link scrollto active" href="{{ path('program_list') }}">Dashboard</a>
		</li>
		<li>
			<a class="nav-link scrollto active" href="{{ path('app_program')}}">Home</a>
		</li>
		<li>
			<a class="nav-link scrollto" href="{{ path('app_program')}}">Programs</a>
		</li>
        <li>
			<a class="nav-link scrollto"  href="{{ path('student_submissions')}}">My Submissions</a>
		</li>
	<i class="bi bi-list mobile-nav-toggle"></i>
</nav>
<!-- .navbar --></div></header><!-- End Header -->{% endblock %}

{% block body %}
<section id="pricing" class="pricing">

		<div class="container aos-init aos-animate" data-aos="fade-up">

			<header class="section-header">
				<h2>Submissions</h2>
				<p>My Submissions</p>
			</header>
			<div class="row">
				{% for submission in submissions %}
					<div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
						{#<a href="{{ path('event_show', {'id': submission.id}) }}">#}
							<div class="box">
								<h3 style="color: #ff0071; font-size: 24px;">{{ submission.program.title }}</h3>
								<div class="price">
									<sup class="bi bi-clock"></sup>
									<small style="font-size: 14px;">{{ submission.program.startDate|date('d-m-Y') }}</small>
									<span>
										/ Starting Date</span>
								</div>
                                    <img src="{{ asset('asset1/img/pricing-ultimate.png') }}" class="img-fluid" alt="">
								<ul>
									<li>{{ submission.status }}</li>
								</ul>
								<a class="btn-buy" style="margin-top: 4px;" href="{{ path('app_program_details', { 'id': submission.program.id }) }}"   >View Program</a>
							</div>
						</a>
					</div>
					{% if loop.index is divisible by 4 %}
					</div>
					<div class="row">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
