{% extends 'base1.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block header %}
	<header id="header" class="header fixed-top">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
			<a href="{{ path('app_program')}}" class="logo d-flex align-items-center">
				<img src="{{ asset('asset1/img/Logo_ESPRIT_Ariana.jpg')}}" >
			</a>
				<nav id="navbar" class="navbar">
				<ul>
					<li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0 show" href="#" data-bs-toggle="dropdown" aria-expanded="true">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ student.lastname }}  {{ student.name }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile show" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-16px, 38px);">
            <li class="dropdown-header">
              <h6>{{ student.lastname }}</h6>
              <span>  {{ student.name }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('student_logout') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li>
					<li class="nav-item dropdown">
							<a class="nav-link nav-icon show" href="#" data-bs-toggle="dropdown" aria-expanded="true">
								<i class="bi bi-bell"></i>
								<span class="badge bg-primary badge-number">{{ notifications|length }}</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-25px, 35px);" data-popper-placement="bottom-end">
								<li class="dropdown-header">
									{% if notifications|length > 0 %}
										You have
										{{ notifications|length }}
										new notification{{ notifications|length > 1 ? 's' : '' }}
									{% else %}
										No new notifications
									{% endif %}
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								{% for notification in notifications %}
									<li class="notification-item" style="margin-left: 10px;">
											<i class="bi bi-info-circle text-primary"></i>
											<a href="{{ path('view_notification', {'id': notification.id}) }}">
												<span class="badge rounded-pill bg-primary p-2 ms-2">View</span>
       										</a>
										<div>
											<p>{{ notification.message }}</p>
											<p>{{ notification.createdAt|date('d M Y, H:i') }}</p>
										</div>
									</li>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
							{% endfor %}
						</li>
					</li>
					<li class="dropdown-footer">
						<a href="">Show all notifications</a>
					</li>
				</ul>
		</li>
		<li>
			<a class="nav-link scrollto active" href="{{ path('program_list') }}">Dashboard</a>
		</li>
		<li>
			<a class="nav-link scrollto active" href="{{ path('app_program')}}">Home</a>
		</li>
		<li>
			<a class="nav-link scrollto" href="{{ path('app_program')}}">Programs</a>
		</li>
        <li>
			<a class="nav-link scrollto"  href="{{ path('student_submissions')}}">My Submissions</a>
		</li>
	<i class="bi bi-list mobile-nav-toggle"></i>
</nav>
<!-- .navbar --></div></header><!-- End Header -->{% endblock %}

{% block body %}
	<section id="blog" class="blog">
		<div class="container aos-init aos-animate" data-aos="fade-up">
			{% for flashMessage in app.flashes('success') %}
			<div class="alert alert-success">
				{{ flashMessage }}
			</div>
			{% endfor %}
				{% for flashMessage in app.flashes('warning') %}
				<div class="alert alert-success">
					{{ flashMessage }}
				</div>
				{% endfor %}
			<div class="row">
				<div class="col-lg-8 entries">
					{% for program in programs %}
						<article class="entry">

							<div class="entry-img">
								<img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
							</div>

							<h2 class="entry-title">
								<a href="blog-single.html">{{ program.title }}</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<!-- Display the university name -->
									<li class="d-flex align-items-center">
										<i class="bi bi-person"></i>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-clock"></i>
										<a href="blog-single.html">
											<time datetime="{{ program.startDate|date("Y-m-d") }}">{{ program.startDate|date("m/d/Y") }}</time>
										</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-clock"></i>
										<a href="blog-single.html">
											<time datetime="{{ program.endDate|date("Y-m-d") }}">{{ program.endDate|date("m/d/Y") }}</time>
										</a>
									</li>
									<li class="d-flex align-items-center">
										<i class="bi bi-chat-dots"></i>
										<a href="blog-single.html">comments section</a>
									</li>
								</ul>
							</div>
							<div class="entry-content">
								<p>{{ program.description }}</p>
								<!-- Display the link and documents needed -->
								<p>
									Link:
									<a href="{{ program.link }}" target="_blank">{{ program.link }}</a>
								</p>
						
								<div class="read-more">
									<a href="{{ path('app_program_details', { 'id': program.id }) }}">Read More</a>
									{#<a href="{{ path('app_program_submit', { 'id': program.id }) }}">Submission Form</a>#}
								</div>
							</div>
						</article>
					{% endfor %}

					<!-- End blog entry -->

					<div class="blog-pagination">
						<ul class="justify-content-center">
							<li>
								<a href="#">1</a>
							</li>
							<li class="active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
						</ul>
					</div>

				</div>
				<!-- End blog entries list -->

				<div class="col-lg-4">

					<div class="sidebar">

						<h3 class="sidebar-title">Search</h3>
						<form method="get" action="{{ path('app_program') }}" class="search-form mb-3">
							<div class="input-group">
								<input type="text" class="form-control" name="search_query" placeholder="Search programs">
								<div class="input-group-append">
									<button type="submit" class="btn btn-primary">Search</button>
								</div>
							</div>
						</form>
						<!-- End sidebar search formn-->

						<h3 class="sidebar-title">Categories</h3>
						<div class="sidebar-item categories">
							<ul>
								<li><a href="#">General<span>(25)</span></a></li>
								<li><a href="#">Lifestyle<span>(12)</span></a></li>
								<li><a href="#">Travel<span>(5)</span></a></li>
								<li><a href="#">Design<span>(22)</span></a></li>
								<li><a href="#">Creative<span>(8)</span></a></li>
								<li><a href="#">Educaion<span>(14)</span></a></li>
							</ul>
						</div>
						<!-- End sidebar categories-->

						<h3 class="sidebar-title">Recent Posts</h3>
						<div class="sidebar-item recent-posts">
						</div>
						<!-- End sidebar recent posts-->

						<h3 class="sidebar-title">Tags</h3>
						<div class="sidebar-item tags">
							<ul>
								<li><a href="#">IT</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Mac</a></li>
								<li><a href="#">Design</a></li>
								<li><a href="#">Office</a></li>
								<li><a href="#">Marketing</a></li>
							</ul>
						</div>
						<!-- End sidebar tags-->

					</div>
					<!-- End sidebar -->

				</div>
				<!-- End blog sidebar -->

			</div>

		</div>
	</section>
{% endblock %}