{% extends 'base1.html.twig' %}

{% block title %}Submission Form -
	{{ program.title }}
{% endblock %}

{% block body %}
	<h1>{{ program.title }}</h1>
	<p>University:</p>
	<p>Link:
		<a href="{{ program.link }}">{{ program.link }}</a>
	</p>
	<p>Documents Needed:
		{{ program.documentsNeeded }}</p>
	<p>Submission Deadline:

		{# Render the form #}
		<form method="post">
			{{ form_widget(form) }}
			<button type="submit">Save</button>
		</form>
	</p>

{% endblock %}
