{% extends 'base.html.twig' %}

{% block title %}Submission Form -
	{{ program.title }}
{% endblock %}

{% block content %}
	<h1>{{ program.title }}</h1>
	<p>University:
		{{ program.university.name }}</p>
	<p>Link:
		<a href="{{ program.link }}">{{ program.link }}</a>
	</p>
	<p>Documents Needed:
		{{ program.documentsNeeded }}</p>
	<p>Submission Deadline:
		{{ program.submissionDeadline|date("m/d/Y") }}</p>

	{# Render the form #}
	<form method="post">
		{{ form_widget(form) }}
		<button type="submit">Save</button>
	</form>
{% endblock %}
